<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_setting_setbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,91},{338,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,25}}</string>
                <key>sourceSize</key>
                <string>{338,25}</string>
            </dict>
            <key>game_setting_vlaue.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{338,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,25}}</string>
                <key>sourceSize</key>
                <string>{338,25}</string>
            </dict>
            <key>u_bounced_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_bounced_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_btn_bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,36},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>u_game_icon_music1.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,76},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>u_game_icon_music2.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,76},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>u_game_icon_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>u_game_icon_sound1.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,76},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>u_game_icon_sound2.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,76},{39,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,41}}</string>
                <key>sourceSize</key>
                <string>{39,41}</string>
            </dict>
            <key>u_safe_text_sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,2},{75,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,32}}</string>
                <key>sourceSize</key>
                <string>{75,32}</string>
            </dict>
            <key>u_set_text_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{56,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,27}}</string>
                <key>sourceSize</key>
                <string>{56,27}</string>
            </dict>
            <key>u_set_text_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,64},{80,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,38}}</string>
                <key>sourceSize</key>
                <string>{80,38}</string>
            </dict>
            <key>u_set_text_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{56,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,27}}</string>
                <key>sourceSize</key>
                <string>{56,27}</string>
            </dict>
            <key>u_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{411,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,60}}</string>
                <key>sourceSize</key>
                <string>{411,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>settingWidgetPlist.png</string>
            <key>size</key>
            <string>{896,118}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0808960b8144b14d38f72e27995cac6e:7b060209f55302a79305cb74fab2169c:7687cf52a97720b48fb59d943ac21faa$</string>
            <key>textureFileName</key>
            <string>settingWidgetPlist.png</string>
        </dict>
    </dict>
</plist>
