<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_close_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,814},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>dowm_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,470},{387,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,95}}</string>
                <key>sourceSize</key>
                <string>{387,95}</string>
            </dict>
            <key>dowm_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,81},{2,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,15}}</string>
                <key>sourceSize</key>
                <string>{2,15}</string>
            </dict>
            <key>hero_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,143},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>jetton_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,143},{42,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,186}}</string>
                <key>sourceSize</key>
                <string>{42,186}</string>
            </dict>
            <key>jetton_bg_link.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,98},{126,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,1}}</string>
                <key>sourceSize</key>
                <string>{126,1}</string>
            </dict>
            <key>jetton_bg_top_link.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,98},{73,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,1}}</string>
                <key>sourceSize</key>
                <string>{73,1}</string>
            </dict>
            <key>pokerimgbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,226},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>sit_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{421,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,77}}</string>
                <key>sourceSize</key>
                <string>{421,77}</string>
            </dict>
            <key>top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{751,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{751,122}}</string>
                <key>sourceSize</key>
                <string>{751,122}</string>
            </dict>
            <key>top_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,81},{2,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,66}}</string>
                <key>sourceSize</key>
                <string>{2,66}</string>
            </dict>
            <key>u_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,830},{57,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,60}}</string>
                <key>sourceSize</key>
                <string>{57,60}</string>
            </dict>
            <key>u_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{252,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,1}}</string>
                <key>sourceSize</key>
                <string>{252,1}</string>
            </dict>
            <key>u_Information-box.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,518},{114,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,122}}</string>
                <key>sourceSize</key>
                <string>{114,122}</string>
            </dict>
            <key>u_b_xiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1009},{148,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,12}}</string>
                <key>sourceSize</key>
                <string>{148,12}</string>
            </dict>
            <key>u_bg_sf.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,143},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>u_bounced_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,630},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_bounced_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,556},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>u_button_-banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,255},{161,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,66}}</string>
                <key>sourceSize</key>
                <string>{161,66}</string>
            </dict>
            <key>u_button_-banker_chip.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,187},{161,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,66}}</string>
                <key>sourceSize</key>
                <string>{161,66}</string>
            </dict>
            <key>u_button_chip-des.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,766},{97,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,62}}</string>
                <key>sourceSize</key>
                <string>{97,62}</string>
            </dict>
            <key>u_button_chip-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,702},{97,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,62}}</string>
                <key>sourceSize</key>
                <string>{97,62}</string>
            </dict>
            <key>u_button_chip.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,227},{97,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,62}}</string>
                <key>sourceSize</key>
                <string>{97,62}</string>
            </dict>
            <key>u_button_people.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,759},{61,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,53}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>u_button_→.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,704},{61,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,53}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>u_cm_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,647},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>u_cm_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,497},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>u_cm_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,453},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>u_cm_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,409},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>u_cm_100000.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,365},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>u_cm_1000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,603},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>u_cm_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,321},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>u_cm_5000.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,277},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>u_cm_500000.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,233},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>u_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,889},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,37}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>u_d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,234},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>u_d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{82,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,76}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>u_effect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{111,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,74}}</string>
                <key>sourceSize</key>
                <string>{111,74}</string>
            </dict>
            <key>u_game_bg_prompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,690},{115,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,41}}</string>
                <key>sourceSize</key>
                <string>{115,41}</string>
            </dict>
            <key>u_game_btn_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,877},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>u_game_btn_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,859},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>u_game_translucent_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,930},{51,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,38}}</string>
                <key>sourceSize</key>
                <string>{51,38}</string>
            </dict>
            <key>u_game_translucent_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,830},{58,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,45}}</string>
                <key>sourceSize</key>
                <string>{58,45}</string>
            </dict>
            <key>u_gi_gold_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,171},{33,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{33,25}</string>
            </dict>
            <key>u_h.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,848},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>u_h1.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,158},{74,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{74,82}</string>
            </dict>
            <key>u_h2.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,80},{76,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,82}}</string>
                <key>sourceSize</key>
                <string>{76,82}</string>
            </dict>
            <key>u_icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,889},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>u_loss.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,508},{73,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,46}}</string>
                <key>sourceSize</key>
                <string>{73,46}</string>
            </dict>
            <key>u_sit-down.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,402},{114,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,122}}</string>
                <key>sourceSize</key>
                <string>{114,122}</string>
            </dict>
            <key>u_szlb.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,363},{143,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,37}}</string>
                <key>sourceSize</key>
                <string>{143,37}</string>
            </dict>
            <key>u_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,859},{39,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,37}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
            <key>u_t1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,396},{74,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,72}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>u_t2.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,384},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>u_tetx_sf.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,323},{143,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,38}}</string>
                <key>sourceSize</key>
                <string>{143,38}</string>
            </dict>
            <key>u_text_sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,668},{116,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,32}}</string>
                <key>sourceSize</key>
                <string>{116,32}</string>
            </dict>
            <key>u_text_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,209},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>u_text_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,206},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,18}}</string>
                <key>sourceSize</key>
                <string>{16,18}</string>
            </dict>
            <key>u_text_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,634},{116,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,32}}</string>
                <key>sourceSize</key>
                <string>{116,32}</string>
            </dict>
            <key>u_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{411,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,60}}</string>
                <key>sourceSize</key>
                <string>{411,60}</string>
            </dict>
            <key>u_txt_wxz.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,149},{76,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,30}}</string>
                <key>sourceSize</key>
                <string>{76,30}</string>
            </dict>
            <key>u_win.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,460},{73,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,46}}</string>
                <key>sourceSize</key>
                <string>{73,46}</string>
            </dict>
            <key>u_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,807},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>u_x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,326},{68,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,76}}</string>
                <key>sourceSize</key>
                <string>{68,76}</string>
            </dict>
            <key>u_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,312},{70,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,78}}</string>
                <key>sourceSize</key>
                <string>{70,78}</string>
            </dict>
            <key>u_yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,187},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>u_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,541},{60,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,42}</string>
            </dict>
            <key>u_→.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,234},{37,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,20}}</string>
                <key>sourceSize</key>
                <string>{37,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIGameBattleIng.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90ad78939e5a460cac84180ec3a7aac6:37ea304654fa5ea792f376f268e4ad13:1d032e7519f643b86cd058293aa0a868$</string>
            <key>textureFileName</key>
            <string>UIGameBattleIng.png</string>
        </dict>
    </dict>
</plist>
