<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic/showhandanex/IMAGE_CLOCK_BK.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,416},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>pic/showhandanex/btn_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,66},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>pic/showhandanex/btn_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,82},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>pic/showhandanex/btn_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,416},{81,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,84}}</string>
                <key>sourceSize</key>
                <string>{81,84}</string>
            </dict>
            <key>pic/showhandanex/btn_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,415},{70,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,68}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pic/showhandanex/btn_changedesk_dis.png</key>
            <dict>
                <key>frame</key>
                <string>{{949,350},{62,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,55}}</string>
                <key>sourceSize</key>
                <string>{62,55}</string>
            </dict>
            <key>pic/showhandanex/btn_changedesk_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,25},{62,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,55}}</string>
                <key>sourceSize</key>
                <string>{62,55}</string>
            </dict>
            <key>pic/showhandanex/btn_fq_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,431},{127,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,62}}</string>
                <key>sourceSize</key>
                <string>{127,62}</string>
            </dict>
            <key>pic/showhandanex/btn_gp.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,352},{127,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,62}}</string>
                <key>sourceSize</key>
                <string>{127,62}</string>
            </dict>
            <key>pic/showhandanex/btn_gp_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,351},{127,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,62}}</string>
                <key>sourceSize</key>
                <string>{127,62}</string>
            </dict>
            <key>pic/showhandanex/btn_gzh.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,444},{127,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,62}}</string>
                <key>sourceSize</key>
                <string>{127,62}</string>
            </dict>
            <key>pic/showhandanex/btn_gzh_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,444},{127,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,62}}</string>
                <key>sourceSize</key>
                <string>{127,62}</string>
            </dict>
            <key>pic/showhandanex/btn_jz.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,223},{127,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,62}}</string>
                <key>sourceSize</key>
                <string>{127,62}</string>
            </dict>
            <key>pic/showhandanex/btn_jzh_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,223},{127,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,62}}</string>
                <key>sourceSize</key>
                <string>{127,62}</string>
            </dict>
            <key>pic/showhandanex/btn_qp.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,287},{127,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,62}}</string>
                <key>sourceSize</key>
                <string>{127,62}</string>
            </dict>
            <key>pic/showhandanex/btn_sh.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,367},{127,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,62}}</string>
                <key>sourceSize</key>
                <string>{127,62}</string>
            </dict>
            <key>pic/showhandanex/btn_sh_no.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,223},{127,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,62}}</string>
                <key>sourceSize</key>
                <string>{127,62}</string>
            </dict>
            <key>pic/showhandanex/btn_sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,2},{127,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,62}}</string>
                <key>sourceSize</key>
                <string>{127,62}</string>
            </dict>
            <key>pic/showhandanex/dowm_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,126},{387,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,95}}</string>
                <key>sourceSize</key>
                <string>{387,95}</string>
            </dict>
            <key>pic/showhandanex/game_setting_setbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{230,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,25}}</string>
                <key>sourceSize</key>
                <string>{230,25}</string>
            </dict>
            <key>pic/showhandanex/game_setting_vlaue.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,2},{228,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{228,21}}</string>
                <key>sourceSize</key>
                <string>{230,25}</string>
            </dict>
            <key>pic/showhandanex/hero_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,415},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>pic/showhandanex/icon_px.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,168},{61,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,53}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>pic/showhandanex/icon_zzh.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,372},{39,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,43}}</string>
                <key>sourceSize</key>
                <string>{39,43}</string>
            </dict>
            <key>pic/showhandanex/line.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,471},{2,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,19}}</string>
                <key>sourceSize</key>
                <string>{2,19}</string>
            </dict>
            <key>pic/showhandanex/lvs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,152},{30,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,60}}</string>
                <key>sourceSize</key>
                <string>{30,60}</string>
            </dict>
            <key>pic/showhandanex/operation_bk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{148,30}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{148,30}}</string>
                <key>sourceSize</key>
                <string>{156,30}</string>
            </dict>
            <key>pic/showhandanex/px.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{316,525}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{316,525}}</string>
                <key>sourceSize</key>
                <string>{316,525}</string>
            </dict>
            <key>pic/showhandanex/slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,367},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>pic/showhandanex/slider_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,126},{28,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{28,21}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>pic/showhandanex/text_fq.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,184},{58,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,26}}</string>
                <key>sourceSize</key>
                <string>{58,26}</string>
            </dict>
            <key>pic/showhandanex/text_gp.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,414},{58,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,26}}</string>
                <key>sourceSize</key>
                <string>{58,26}</string>
            </dict>
            <key>pic/showhandanex/text_gz.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,97},{58,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,26}}</string>
                <key>sourceSize</key>
                <string>{58,26}</string>
            </dict>
            <key>pic/showhandanex/text_jz.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,66},{58,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,26}}</string>
                <key>sourceSize</key>
                <string>{58,26}</string>
            </dict>
            <key>pic/showhandanex/text_sh.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,97},{58,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,26}}</string>
                <key>sourceSize</key>
                <string>{58,26}</string>
            </dict>
            <key>pic/showhandanex/top_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{751,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{751,122}}</string>
                <key>sourceSize</key>
                <string>{751,122}</string>
            </dict>
            <key>pic/showhandanex/u_bg_black2.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,474},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>pic/showhandanex/u_cm_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,373},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>pic/showhandanex/u_cm_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,460},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>pic/showhandanex/u_cm_1000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,460},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>pic/showhandanex/u_cm_10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,416},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>pic/showhandanex/u_cm_100000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1051,328},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>pic/showhandanex/u_cm_1000000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,416},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>pic/showhandanex/u_cm_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,328},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>pic/showhandanex/u_cm_5000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,284},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>pic/showhandanex/u_cm_500000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1001,284},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>pic/showhandanex/u_game_btn_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,297},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>pic/showhandanex/u_game_btn_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,295},{160,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,70}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>pic/showhandanex/u_game_btn_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,25},{160,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,70}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>pic/showhandanex/u_game_btn_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,212},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>pic/showhandanex/u_game_btn_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,223},{160,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,70}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>pic/showhandanex/u_game_text_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,223},{72,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,38}}</string>
                <key>sourceSize</key>
                <string>{72,38}</string>
            </dict>
            <key>pic/showhandanex/u_game_translucent_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,244},{51,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,38}}</string>
                <key>sourceSize</key>
                <string>{51,38}</string>
            </dict>
            <key>pic/showhandanex/u_game_translucent_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,184},{58,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,45}}</string>
                <key>sourceSize</key>
                <string>{58,45}</string>
            </dict>
            <key>pic/showhandanex/u_gi_begin.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,471},{76,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,35}}</string>
                <key>sourceSize</key>
                <string>{76,35}</string>
            </dict>
            <key>pic/showhandanex/u_icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,444},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIShowHandanex.png</string>
            <key>size</key>
            <string>{1114,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf2d70a44520538511fd8897e1857d90:127f2644c3e857a564dd5c334715851c:8eda28097a7cab37580f6c9c8c8c4b39$</string>
            <key>textureFileName</key>
            <string>UIShowHandanex.png</string>
        </dict>
    </dict>
</plist>
