<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>errenland/rocket/ani_rockets_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,481},{272,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,477}}</string>
                <key>sourceSize</key>
                <string>{272,477}</string>
            </dict>
            <key>errenland/rocket/ani_rockets_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,481},{272,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,477}}</string>
                <key>sourceSize</key>
                <string>{272,477}</string>
            </dict>
            <key>errenland/rocket/ani_rockets_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{272,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,477}}</string>
                <key>sourceSize</key>
                <string>{272,477}</string>
            </dict>
            <key>errenland/rocket/ani_rockets_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{272,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,477}}</string>
                <key>sourceSize</key>
                <string>{272,477}</string>
            </dict>
            <key>errenland/rocket/ani_rockets_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,481},{272,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,477}}</string>
                <key>sourceSize</key>
                <string>{272,477}</string>
            </dict>
            <key>errenland/rocket/ani_rockets_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{272,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,477}}</string>
                <key>sourceSize</key>
                <string>{272,477}</string>
            </dict>
            <key>errenland/rocket/ani_rockets_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,481},{272,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,477}}</string>
                <key>sourceSize</key>
                <string>{272,477}</string>
            </dict>
            <key>errenland/rocket/ani_rockets_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,477}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,477}}</string>
                <key>sourceSize</key>
                <string>{272,477}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rocket.png</string>
            <key>size</key>
            <string>{1098,960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50e65be4957fa3e57146c85f39cabfcc:6abc345060ca3a748e127546df4fa44b:f01c65fad1cd56cfb81b6cd8b900d134$</string>
            <key>textureFileName</key>
            <string>rocket.png</string>
        </dict>
    </dict>
</plist>
