<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BT_EXIT_GAME.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1493},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>BT_OUT_CARD.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1037},{160,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,70}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>BT_PASS.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1379},{160,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,70}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>BT_SHEZHI.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1530},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>BT_TISHI.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1342},{160,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,70}}</string>
                <key>sourceSize</key>
                <string>{160,70}</string>
            </dict>
            <key>BT_TUOGUAN.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,1436},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>BeiShu_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,486},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>Call.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,456},{142,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,50}}</string>
                <key>sourceSize</key>
                <string>{142,50}</string>
            </dict>
            <key>DiItem.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,815},{27,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,24}}</string>
                <key>sourceSize</key>
                <string>{27,24}</string>
            </dict>
            <key>End_ItemBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{567,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{567,112}}</string>
                <key>sourceSize</key>
                <string>{567,112}</string>
            </dict>
            <key>End_Lose.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,565},{561,233}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,233}}</string>
                <key>sourceSize</key>
                <string>{561,233}</string>
            </dict>
            <key>End_Win.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{561,235}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{561,235}}</string>
                <key>sourceSize</key>
                <string>{561,235}</string>
            </dict>
            <key>Game_Scen_Head.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1136,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,69}}</string>
                <key>sourceSize</key>
                <string>{1136,69}</string>
            </dict>
            <key>GloablFrameA.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1359},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>GloablFrameB.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1517},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>IMAGE_CLOCK_BK.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,1143},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>IMAGE_GOLG.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1526},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>IMAGE_OUTCARD.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1023},{63,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,32}}</string>
                <key>sourceSize</key>
                <string>{63,32}</string>
            </dict>
            <key>IMAGE_PASSCARD.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,1368},{63,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,32}}</string>
                <key>sourceSize</key>
                <string>{63,32}</string>
            </dict>
            <key>IMAGE_READY.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,1504},{97,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,50}}</string>
                <key>sourceSize</key>
                <string>{97,50}</string>
            </dict>
            <key>IMAGE_TISHI.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1177},{63,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,32}}</string>
                <key>sourceSize</key>
                <string>{63,32}</string>
            </dict>
            <key>Image_Wait.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{464,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{464,27}}</string>
                <key>sourceSize</key>
                <string>{464,27}</string>
            </dict>
            <key>LeftBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1128},{175,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,105}}</string>
                <key>sourceSize</key>
                <string>{175,105}</string>
            </dict>
            <key>NoCall.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1307},{92,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,50}}</string>
                <key>sourceSize</key>
                <string>{92,50}</string>
            </dict>
            <key>NoQiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,717},{96,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,51}}</string>
                <key>sourceSize</key>
                <string>{96,51}</string>
            </dict>
            <key>OthTuoguan.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1550},{53,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,51}}</string>
                <key>sourceSize</key>
                <string>{53,51}</string>
            </dict>
            <key>PLAYER_BK_ME.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1507},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>PLAYER_BK_OTHER.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,571},{271,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,88}}</string>
                <key>sourceSize</key>
                <string>{271,88}</string>
            </dict>
            <key>PLAYER_INFO.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,600},{127,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,56}}</string>
                <key>sourceSize</key>
                <string>{127,56}</string>
            </dict>
            <key>PLAYER_INFO_ITEM.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1266},{48,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,37}}</string>
                <key>sourceSize</key>
                <string>{48,37}</string>
            </dict>
            <key>PLAYER_INFO_ITEM_M.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1563},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>Qiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,571},{144,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,51}}</string>
                <key>sourceSize</key>
                <string>{144,51}</string>
            </dict>
            <key>TOP_BACK.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,824},{47,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,99}}</string>
                <key>sourceSize</key>
                <string>{47,99}</string>
            </dict>
            <key>TOP_BACK_LINE.png</key>
            <dict>
                <key>frame</key>
                <string>{{31,1140},{323,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,1}}</string>
                <key>sourceSize</key>
                <string>{323,1}</string>
            </dict>
            <key>TopDI.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1590},{29,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,24}}</string>
                <key>sourceSize</key>
                <string>{29,24}</string>
            </dict>
            <key>WARNING_FLASH.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1448},{78,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,67}}</string>
                <key>sourceSize</key>
                <string>{78,67}</string>
            </dict>
            <key>WARNNING_LIGHT.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1379},{78,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,67}}</string>
                <key>sourceSize</key>
                <string>{78,67}</string>
            </dict>
            <key>bei.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1433},{44,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>beirang.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{452,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{452,34}}</string>
                <key>sourceSize</key>
                <string>{452,34}</string>
            </dict>
            <key>beishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,522},{47,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,28}}</string>
                <key>sourceSize</key>
                <string>{47,28}</string>
            </dict>
            <key>buchu.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,729},{93,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,51}}</string>
                <key>sourceSize</key>
                <string>{93,51}</string>
            </dict>
            <key>bujiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,1305},{61,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,32}}</string>
                <key>sourceSize</key>
                <string>{61,32}</string>
            </dict>
            <key>buqiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,1521},{64,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,33}}</string>
                <key>sourceSize</key>
                <string>{64,33}</string>
            </dict>
            <key>dayudeng.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1590},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>dibeishu.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1211},{52,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,53}}</string>
                <key>sourceSize</key>
                <string>{52,53}</string>
            </dict>
            <key>difen.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1359},{75,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,41}}</string>
                <key>sourceSize</key>
                <string>{75,41}</string>
            </dict>
            <key>dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,1225},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>feipai.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,925},{65,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,23}}</string>
                <key>sourceSize</key>
                <string>{65,23}</string>
            </dict>
            <key>jiaodizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1433},{95,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,33}}</string>
                <key>sourceSize</key>
                <string>{95,33}</string>
            </dict>
            <key>nongmin.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,1143},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>qiangdizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,925},{96,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,33}}</string>
                <key>sourceSize</key>
                <string>{96,33}</string>
            </dict>
            <key>rangduifang.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{482,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,34}}</string>
                <key>sourceSize</key>
                <string>{482,34}</string>
            </dict>
            <key>rangzhang.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1433},{86,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,27}}</string>
                <key>sourceSize</key>
                <string>{86,27}</string>
            </dict>
            <key>singn.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1507},{83,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,81}}</string>
                <key>sourceSize</key>
                <string>{83,81}</string>
            </dict>
            <key>smallcard.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,1476},{37,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,48}}</string>
                <key>sourceSize</key>
                <string>{37,48}</string>
            </dict>
            <key>u_btn_bb.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1307},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>u_btn_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1235},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>u_game_btn_canceltg.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1451},{161,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,54}}</string>
                <key>sourceSize</key>
                <string>{161,54}</string>
            </dict>
            <key>u_game_btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,1140},{200,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,70}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>u_game_icon_hosting.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,844},{191,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,142}}</string>
                <key>sourceSize</key>
                <string>{191,142}</string>
            </dict>
            <key>u_game_text_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1227},{127,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,32}}</string>
                <key>sourceSize</key>
                <string>{127,32}</string>
            </dict>
            <key>u_game_text_continue.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1227},{127,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,32}}</string>
                <key>sourceSize</key>
                <string>{127,32}</string>
            </dict>
            <key>u_game_text_passgray.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1143},{63,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,32}}</string>
                <key>sourceSize</key>
                <string>{63,32}</string>
            </dict>
            <key>u_game_text_playno.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,1109},{63,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,32}}</string>
                <key>sourceSize</key>
                <string>{63,32}</string>
            </dict>
            <key>u_game_text_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,1109},{127,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,32}}</string>
                <key>sourceSize</key>
                <string>{127,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gamecommon.png</string>
            <key>size</key>
            <string>{512,1616}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc3d25db21f9e50edde6adda40878d35$</string>
            <key>textureFileName</key>
            <string>gamecommon.png</string>
        </dict>
    </dict>
</plist>
