<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>listback.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>listbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{39,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,185}}</string>
                <key>sourceSize</key>
                <string>{39,185}</string>
            </dict>
            <key>listhead.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{270,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,44}}</string>
                <key>sourceSize</key>
                <string>{270,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>matchuserlist.png</string>
            <key>size</key>
            <string>{64,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:902828d195de89d198ac4d3a0fed74ef$</string>
            <key>textureFileName</key>
            <string>matchuserlist.png</string>
        </dict>
    </dict>
</plist>
