<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,165},{36,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,226},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,39},{26,35}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{26,35}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,127},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,294},{30,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{30,35}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,286},{28,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,298},{26,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{26,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,294},{30,35}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,35}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,256},{28,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,226},{28,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{975,2},{26,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{26,35}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,294},{28,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,294},{28,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>beimian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{125,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,160}}</string>
                <key>sourceSize</key>
                <string>{125,160}</string>
            </dict>
            <key>dafangjiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,150},{80,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{80,76}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>daheitao.png</key>
            <dict>
                <key>frame</key>
                <string>{{849,226},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>dahongtao.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,228},{82,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{82,68}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>dameihua.png</key>
            <dict>
                <key>frame</key>
                <string>{{847,150},{80,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{80,74}}</string>
                <key>sourceSize</key>
                <string>{82,76}</string>
            </dict>
            <key>dawang.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,304},{20,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,123}}</string>
                <key>sourceSize</key>
                <string>{20,123}</string>
            </dict>
            <key>dawang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,2},{92,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{92,146}}</string>
                <key>sourceSize</key>
                <string>{92,148}</string>
            </dict>
            <key>fangkuai11.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{104,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,146}}</string>
                <key>sourceSize</key>
                <string>{104,146}</string>
            </dict>
            <key>fangkuai12.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,148},{104,144}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,146}</string>
            </dict>
            <key>fangkuai13.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,2},{104,144}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,146}</string>
            </dict>
            <key>heise1.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,265},{36,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>heise10.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,150},{36,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>heise11.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,298},{26,35}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{26,35}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>heise12.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,189},{36,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{36,35}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>heise13.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,294},{30,35}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{30,35}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>heise2.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,294},{28,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>heise3.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,298},{26,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{26,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>heise4.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,294},{30,35}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{30,35}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>heise5.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,294},{28,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>heise6.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,296},{28,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>heise7.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,298},{26,35}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{26,35}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>heise8.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,296},{28,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>heise9.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,296},{28,37}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{28,37}}</string>
                <key>sourceSize</key>
                <string>{36,37}</string>
            </dict>
            <key>heitao11.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,150},{104,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,146}}</string>
                <key>sourceSize</key>
                <string>{104,146}</string>
            </dict>
            <key>heitao12.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,148},{104,144}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,146}</string>
            </dict>
            <key>heitao13.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,2},{104,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,146}}</string>
                <key>sourceSize</key>
                <string>{104,146}</string>
            </dict>
            <key>hongtao11.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,150},{104,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,146}}</string>
                <key>sourceSize</key>
                <string>{104,146}</string>
            </dict>
            <key>hongtao12.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,2},{104,144}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,146}</string>
            </dict>
            <key>hongtao13.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,148},{104,144}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,146}</string>
            </dict>
            <key>meihua11.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{104,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,146}}</string>
                <key>sourceSize</key>
                <string>{104,146}</string>
            </dict>
            <key>meihua12.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,2},{104,144}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,146}</string>
            </dict>
            <key>meihua13.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,150},{104,144}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{104,144}}</string>
                <key>sourceSize</key>
                <string>{104,146}</string>
            </dict>
            <key>paidi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,160}}</string>
                <key>sourceSize</key>
                <string>{125,160}</string>
            </dict>
            <key>xiaowang.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,2},{20,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,123}}</string>
                <key>sourceSize</key>
                <string>{20,123}</string>
            </dict>
            <key>xiaowang2.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,2},{92,146}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,146}}</string>
                <key>sourceSize</key>
                <string>{92,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1004,326}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:031b16ae1c1f71bcc8ad7e6c801bb1a7$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
