<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>errenland/plane/ani_plane_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{427,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,181}}</string>
                <key>sourceSize</key>
                <string>{427,181}</string>
            </dict>
            <key>errenland/plane/ani_plane_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,551},{427,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,181}}</string>
                <key>sourceSize</key>
                <string>{427,181}</string>
            </dict>
            <key>errenland/plane/ani_plane_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{427,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,181}}</string>
                <key>sourceSize</key>
                <string>{427,181}</string>
            </dict>
            <key>errenland/plane/ani_plane_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{427,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,181}}</string>
                <key>sourceSize</key>
                <string>{427,181}</string>
            </dict>
            <key>errenland/plane/ani_plane_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{427,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,181}}</string>
                <key>sourceSize</key>
                <string>{427,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plane.png</string>
            <key>size</key>
            <string>{431,917}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20b23e3d04e1beff144b5c50166a19de:90e150738b6564501d20268315444251:592bb08bfb59882b4fb915a6935c1201$</string>
            <key>textureFileName</key>
            <string>plane.png</string>
        </dict>
    </dict>
</plist>
