<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>u_gi_have_ox0.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,556},{71,111}}</string>
                <key>offset</key>
                <string>{-64,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{71,111}}</string>
                <key>sourceSize</key>
                <string>{199,137}</string>
            </dict>
            <key>u_gi_have_ox1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,567},{129,127}}</string>
                <key>offset</key>
                <string>{-35,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{129,127}}</string>
                <key>sourceSize</key>
                <string>{199,137}</string>
            </dict>
            <key>u_gi_have_ox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{183,137}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,137}}</string>
                <key>sourceSize</key>
                <string>{199,137}</string>
            </dict>
            <key>u_gi_have_ox3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{199,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,137}}</string>
                <key>sourceSize</key>
                <string>{199,137}</string>
            </dict>
            <key>u_gi_ox_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,925},{114,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,62}}</string>
                <key>sourceSize</key>
                <string>{114,62}</string>
            </dict>
            <key>u_gi_ox_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,439},{115,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,73}}</string>
                <key>sourceSize</key>
                <string>{115,73}</string>
            </dict>
            <key>u_gi_ox_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,181},{118,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,71}}</string>
                <key>sourceSize</key>
                <string>{118,71}</string>
            </dict>
            <key>u_gi_ox_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,301},{118,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,73}}</string>
                <key>sourceSize</key>
                <string>{118,73}</string>
            </dict>
            <key>u_gi_ox_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,162},{117,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,73}}</string>
                <key>sourceSize</key>
                <string>{117,73}</string>
            </dict>
            <key>u_gi_ox_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,805},{118,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,74}}</string>
                <key>sourceSize</key>
                <string>{118,74}</string>
            </dict>
            <key>u_gi_ox_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,421},{117,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,73}}</string>
                <key>sourceSize</key>
                <string>{117,73}</string>
            </dict>
            <key>u_gi_ox_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,904},{116,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,71}}</string>
                <key>sourceSize</key>
                <string>{116,71}</string>
            </dict>
            <key>u_gi_ox_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,805},{118,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,72}}</string>
                <key>sourceSize</key>
                <string>{118,72}</string>
            </dict>
            <key>u_gi_ox_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,830},{117,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,72}}</string>
                <key>sourceSize</key>
                <string>{117,72}</string>
            </dict>
            <key>u_gi_ox_hl.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,696},{107,67}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{107,67}}</string>
                <key>sourceSize</key>
                <string>{115,73}</string>
            </dict>
            <key>u_gi_ox_j.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,629},{111,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{111,65}}</string>
                <key>sourceSize</key>
                <string>{115,73}</string>
            </dict>
            <key>u_gi_ox_text0.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,281},{75,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,78}}</string>
                <key>sourceSize</key>
                <string>{75,78}</string>
            </dict>
            <key>u_gi_ox_text1.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,361},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>u_gi_ox_wxn.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{158,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,81}}</string>
                <key>sourceSize</key>
                <string>{158,81}</string>
            </dict>
            <key>u_gi_ox_y.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,696},{111,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{111,63}}</string>
                <key>sourceSize</key>
                <string>{115,73}</string>
            </dict>
            <key>u_gi_ox_zd.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,761},{109,67}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{109,67}}</string>
                <key>sourceSize</key>
                <string>{115,73}</string>
            </dict>
            <key>u_gi_round0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{177,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,177}}</string>
                <key>sourceSize</key>
                <string>{177,177}</string>
            </dict>
            <key>u_gi_round1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{107,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,35},{107,107}}</string>
                <key>sourceSize</key>
                <string>{177,177}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>AnimationOxType.png</string>
            <key>size</key>
            <string>{293,993}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcc741bfff99d43fe6a335e6c559ce7f:fe19d33bcf3c1ed5ad77eb09aad46c14:2279fc9472c618bd42a168e83cef2d2d$</string>
            <key>textureFileName</key>
            <string>AnimationOxType.png</string>
        </dict>
    </dict>
</plist>
