<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic/plazacenter/GameName/u_t_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,80},{144,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,39}}</string>
                <key>sourceSize</key>
                <string>{144,39}</string>
            </dict>
            <key>pic/plazacenter/GameName/u_t_120.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,80},{142,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,39}}</string>
                <key>sourceSize</key>
                <string>{142,39}</string>
            </dict>
            <key>pic/plazacenter/GameName/u_t_130.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,80},{148,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,39}}</string>
                <key>sourceSize</key>
                <string>{148,39}</string>
            </dict>
            <key>pic/plazacenter/GameName/u_t_160.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,81},{141,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,37}}</string>
                <key>sourceSize</key>
                <string>{141,37}</string>
            </dict>
            <key>pic/plazacenter/GameName/u_t_210.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{143,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,37}}</string>
                <key>sourceSize</key>
                <string>{143,37}</string>
            </dict>
            <key>pic/plazacenter/GameName/u_t_250.png</key>
            <dict>
                <key>frame</key>
                <string>{{585,81},{141,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,38}}</string>
                <key>sourceSize</key>
                <string>{141,38}</string>
            </dict>
            <key>pic/plazacenter/GameName/u_t_260.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{173,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,37}}</string>
                <key>sourceSize</key>
                <string>{173,37}</string>
            </dict>
            <key>pic/plazacenter/GameName/u_t_290.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{168,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,37}}</string>
                <key>sourceSize</key>
                <string>{168,37}</string>
            </dict>
            <key>pic/plazacenter/GameName/u_t_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,41},{141,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,37}}</string>
                <key>sourceSize</key>
                <string>{141,37}</string>
            </dict>
            <key>pic/plazacenter/GameName/u_t_300.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,2},{141,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,38}}</string>
                <key>sourceSize</key>
                <string>{141,38}</string>
            </dict>
            <key>pic/plazacenter/GameName/u_t_310.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,37}}</string>
                <key>sourceSize</key>
                <string>{178,37}</string>
            </dict>
            <key>pic/plazacenter/GameName/u_t_420.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,81},{142,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,37}}</string>
                <key>sourceSize</key>
                <string>{142,37}</string>
            </dict>
            <key>pic/plazacenter/GameName/u_t_430.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,42},{142,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,37}}</string>
                <key>sourceSize</key>
                <string>{142,37}</string>
            </dict>
            <key>pic/plazacenter/GameName/u_t_450.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,41},{141,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,37}}</string>
                <key>sourceSize</key>
                <string>{141,37}</string>
            </dict>
            <key>pic/plazacenter/GameName/u_t_460.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{143,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,37}}</string>
                <key>sourceSize</key>
                <string>{143,37}</string>
            </dict>
            <key>pic/plazacenter/GameName/u_t_470.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,41},{144,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,37}}</string>
                <key>sourceSize</key>
                <string>{144,37}</string>
            </dict>
            <key>pic/plazacenter/GameName/u_t_560.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,42},{142,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,37}}</string>
                <key>sourceSize</key>
                <string>{142,37}</string>
            </dict>
            <key>pic/plazacenter/GameName/u_t_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{143,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,38}}</string>
                <key>sourceSize</key>
                <string>{143,38}</string>
            </dict>
            <key>pic/plazacenter/GameName/u_t_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,80},{141,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,39}}</string>
                <key>sourceSize</key>
                <string>{141,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIGameName.png</string>
            <key>size</key>
            <string>{1015,121}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e1d81c661f8a54b5b5ded68d0edece9:3052a0ce55dcc072a0baf63dabd868ff:97bd1575846e173daa178316ccafd4fc$</string>
            <key>textureFileName</key>
            <string>UIGameName.png</string>
        </dict>
    </dict>
</plist>
