<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic/plazacenter/GameType/u_gametype_off_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,61},{175,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,57}}</string>
                <key>sourceSize</key>
                <string>{175,57}</string>
            </dict>
            <key>pic/plazacenter/GameType/u_gametype_off_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,61},{175,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,57}}</string>
                <key>sourceSize</key>
                <string>{175,57}</string>
            </dict>
            <key>pic/plazacenter/GameType/u_gametype_off_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,2},{175,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,57}}</string>
                <key>sourceSize</key>
                <string>{175,57}</string>
            </dict>
            <key>pic/plazacenter/GameType/u_gametype_off_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{175,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,57}}</string>
                <key>sourceSize</key>
                <string>{175,57}</string>
            </dict>
            <key>pic/plazacenter/GameType/u_gametype_off_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,61},{175,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,57}}</string>
                <key>sourceSize</key>
                <string>{175,57}</string>
            </dict>
            <key>pic/plazacenter/GameType/u_gametype_off_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,2},{175,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,57}}</string>
                <key>sourceSize</key>
                <string>{175,57}</string>
            </dict>
            <key>pic/plazacenter/GameType/u_gametype_on_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,61},{175,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,57}}</string>
                <key>sourceSize</key>
                <string>{175,57}</string>
            </dict>
            <key>pic/plazacenter/GameType/u_gametype_on_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{175,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,57}}</string>
                <key>sourceSize</key>
                <string>{175,57}</string>
            </dict>
            <key>pic/plazacenter/GameType/u_gametype_on_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,61},{175,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,57}}</string>
                <key>sourceSize</key>
                <string>{175,57}</string>
            </dict>
            <key>pic/plazacenter/GameType/u_gametype_on_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{175,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,57}}</string>
                <key>sourceSize</key>
                <string>{175,57}</string>
            </dict>
            <key>pic/plazacenter/GameType/u_gametype_on_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,61},{175,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,57}}</string>
                <key>sourceSize</key>
                <string>{175,57}</string>
            </dict>
            <key>pic/plazacenter/GameType/u_gametype_on_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{175,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,57}}</string>
                <key>sourceSize</key>
                <string>{175,57}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIGameType.png</string>
            <key>size</key>
            <string>{1064,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cb131b78dc235715e519159991bfbb9:4694e8ff8b86e5ca4a3e36971d007b17:864ee0578b328124007aa9ef860dadb3$</string>
            <key>textureFileName</key>
            <string>UIGameType.png</string>
        </dict>
    </dict>
</plist>
