<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic/plazacenter/Number/u_n_dj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{180,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,20}}</string>
                <key>sourceSize</key>
                <string>{180,20}</string>
            </dict>
            <key>pic/plazacenter/Number/u_n_jb.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{170,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,24}}</string>
                <key>sourceSize</key>
                <string>{170,24}</string>
            </dict>
            <key>pic/plazacenter/Number/u_n_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{31,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,21}}</string>
                <key>sourceSize</key>
                <string>{31,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIHallNumber.png</string>
            <key>size</key>
            <string>{64,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40ef3b6bc17eeff60d1adde9f6a2be30:a332e6469fcf39b38dca519641632cbc:775aad72d4bd565c60ee44965673e0ac$</string>
            <key>textureFileName</key>
            <string>UIHallNumber.png</string>
        </dict>
    </dict>
</plist>
