<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic/plazacenter/Task/u_backpack_bg_box1.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,132},{78,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,18}}</string>
                <key>sourceSize</key>
                <string>{78,18}</string>
            </dict>
            <key>pic/plazacenter/Task/u_task_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{281,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{281,107}}</string>
                <key>sourceSize</key>
                <string>{281,107}</string>
            </dict>
            <key>pic/plazacenter/Task/u_task_bg_plan.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,369},{31,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>pic/plazacenter/Task/u_task_bg_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,111},{20,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,19}}</string>
                <key>sourceSize</key>
                <string>{20,19}</string>
            </dict>
            <key>pic/plazacenter/Task/u_task_bg_reward2.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,212},{17,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,11}}</string>
                <key>sourceSize</key>
                <string>{17,11}</string>
            </dict>
            <key>pic/plazacenter/Task/u_task_text_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,369},{129,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,33}}</string>
                <key>sourceSize</key>
                <string>{129,33}</string>
            </dict>
            <key>pic/plazacenter/Task/u_task_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,369},{89,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,39}}</string>
                <key>sourceSize</key>
                <string>{89,39}</string>
            </dict>
            <key>pic/plazacenter/Task/u_topup_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,111},{256,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,257}}</string>
                <key>sourceSize</key>
                <string>{256,257}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIHallTask.png</string>
            <key>size</key>
            <string>{285,410}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9400605d372fc7932785530603c40ee1:7ad03e66be5874eb30b657600008ecda:91444d73e58551bf898ae858c66f6325$</string>
            <key>textureFileName</key>
            <string>UIHallTask.png</string>
        </dict>
    </dict>
</plist>
