<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic/plazacenter/Topup/u_paytype_alipay.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{132,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,71}}</string>
                <key>sourceSize</key>
                <string>{132,71}</string>
            </dict>
            <key>pic/plazacenter/Topup/u_paytype_appstore.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{414,261},{132,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,71}}</string>
                <key>sourceSize</key>
                <string>{132,71}</string>
            </dict>
            <key>pic/plazacenter/Topup/u_paytype_weixin.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,127},{132,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,71}}</string>
                <key>sourceSize</key>
                <string>{132,71}</string>
            </dict>
            <key>pic/plazacenter/Topup/u_topup_btn_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{409,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{409,74}}</string>
                <key>sourceSize</key>
                <string>{409,74}</string>
            </dict>
            <key>pic/plazacenter/Topup/u_topup_icon_gold1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,535},{147,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,111}}</string>
                <key>sourceSize</key>
                <string>{147,111}</string>
            </dict>
            <key>pic/plazacenter/Topup/u_topup_icon_gold2.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,260},{152,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,109}}</string>
                <key>sourceSize</key>
                <string>{152,109}</string>
            </dict>
            <key>pic/plazacenter/Topup/u_topup_icon_gold3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{146,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,142}}</string>
                <key>sourceSize</key>
                <string>{146,142}</string>
            </dict>
            <key>pic/plazacenter/Topup/u_topup_icon_gold4.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,714},{147,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,154}}</string>
                <key>sourceSize</key>
                <string>{147,154}</string>
            </dict>
            <key>pic/plazacenter/Topup/u_topup_icon_gold5.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,413},{154,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,150}}</string>
                <key>sourceSize</key>
                <string>{154,150}</string>
            </dict>
            <key>pic/plazacenter/Topup/u_topup_icon_gold6.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,565},{155,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,147}}</string>
                <key>sourceSize</key>
                <string>{155,147}</string>
            </dict>
            <key>pic/plazacenter/Topup/u_topup_icon_rmb.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{25,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,30}}</string>
                <key>sourceSize</key>
                <string>{25,30}</string>
            </dict>
            <key>pic/plazacenter/Topup/u_topup_icon_wing1.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,762},{87,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,57}}</string>
                <key>sourceSize</key>
                <string>{87,57}</string>
            </dict>
            <key>pic/plazacenter/Topup/u_topup_icon_wing2.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{123,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,78}}</string>
                <key>sourceSize</key>
                <string>{123,78}</string>
            </dict>
            <key>pic/plazacenter/Topup/u_topup_icon_wing3.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,669},{125,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,91}}</string>
                <key>sourceSize</key>
                <string>{125,91}</string>
            </dict>
            <key>pic/plazacenter/Topup/u_topup_icon_wing4.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,563},{129,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,104}}</string>
                <key>sourceSize</key>
                <string>{129,104}</string>
            </dict>
            <key>pic/plazacenter/Topup/u_topup_icon_wing5.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,414},{147,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,117}}</string>
                <key>sourceSize</key>
                <string>{147,117}</string>
            </dict>
            <key>pic/plazacenter/Topup/u_topup_icon_wing6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{129,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,136}}</string>
                <key>sourceSize</key>
                <string>{129,136}</string>
            </dict>
            <key>pic/plazacenter/Topup/u_topup_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,257}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,257}}</string>
                <key>sourceSize</key>
                <string>{256,257}</string>
            </dict>
            <key>pic/plazacenter/Topup/u_topup_shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,684},{148,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,33}}</string>
                <key>sourceSize</key>
                <string>{148,33}</string>
            </dict>
            <key>pic/plazacenter/Topup/u_topup_text_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,801},{81,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,37}}</string>
                <key>sourceSize</key>
                <string>{81,37}</string>
            </dict>
            <key>pic/plazacenter/Topup/u_topup_text_yb.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,762},{81,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,37}}</string>
                <key>sourceSize</key>
                <string>{81,37}</string>
            </dict>
            <key>pic/plazacenter/Topup/u_topup_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,2},{861,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{861,75}}</string>
                <key>sourceSize</key>
                <string>{861,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIHallTopup.png</string>
            <key>size</key>
            <string>{495,865}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:52ccdda26e4c8759ac7548f9d20b4487:3f1c77cbb845a04e19aa9c4023dd23bc:de8f56fb0bf1179531a030b082cbaa58$</string>
            <key>textureFileName</key>
            <string>UIHallTopup.png</string>
        </dict>
    </dict>
</plist>
