<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic/plazacenter/Bank/u_Bg_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,601},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,40}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_CheckBox_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,689},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_CheckBox_fore.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,655},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_btn_access.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{114,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,70}}</string>
                <key>sourceSize</key>
                <string>{114,70}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{195,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,2}}</string>
                <key>sourceSize</key>
                <string>{195,2}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_paging_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,723},{139,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,48}}</string>
                <key>sourceSize</key>
                <string>{139,48}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_paging_btn_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{168,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,58}}</string>
                <key>sourceSize</key>
                <string>{168,58}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_1000wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,563},{82,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,26}}</string>
                <key>sourceSize</key>
                <string>{82,26}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_100wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,535},{82,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,26}}</string>
                <key>sourceSize</key>
                <string>{82,26}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_1yi.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,507},{82,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,26}}</string>
                <key>sourceSize</key>
                <string>{82,26}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_5000wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{82,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,26}}</string>
                <key>sourceSize</key>
                <string>{82,26}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_500wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,451},{82,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,26}}</string>
                <key>sourceSize</key>
                <string>{82,26}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{82,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,26}}</string>
                <key>sourceSize</key>
                <string>{82,26}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_amend.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{103,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,29}}</string>
                <key>sourceSize</key>
                <string>{103,29}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_amend2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,361},{103,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,29}}</string>
                <key>sourceSize</key>
                <string>{103,29}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_cr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,625},{75,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,32}}</string>
                <key>sourceSize</key>
                <string>{75,32}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_deposit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{103,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,29}}</string>
                <key>sourceSize</key>
                <string>{103,29}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_deposit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{103,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,29}}</string>
                <key>sourceSize</key>
                <string>{103,29}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_detail.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{103,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,29}}</string>
                <key>sourceSize</key>
                <string>{103,29}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_detail2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{103,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,29}}</string>
                <key>sourceSize</key>
                <string>{103,29}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_giving.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{103,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,29}}</string>
                <key>sourceSize</key>
                <string>{103,29}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_giving2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{103,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,29}}</string>
                <key>sourceSize</key>
                <string>{103,29}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,423},{176,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,37}}</string>
                <key>sourceSize</key>
                <string>{176,37}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_qc.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,659},{74,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,31}}</string>
                <key>sourceSize</key>
                <string>{74,31}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_safe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{107,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,37}}</string>
                <key>sourceSize</key>
                <string>{107,37}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_takeout.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{103,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,29}}</string>
                <key>sourceSize</key>
                <string>{103,29}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_takeout2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{103,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,29}}</string>
                <key>sourceSize</key>
                <string>{103,29}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_zs.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{75,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,32}}</string>
                <key>sourceSize</key>
                <string>{75,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIHallBank.png</string>
            <key>size</key>
            <string>{125,880}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62fc4894eb0276a981548144747a26ea:8bc6f9959f224ec80f3b3df2820bb775:b91b82a49bbbcc9d69bbb50503b43eda$</string>
            <key>textureFileName</key>
            <string>UIHallBank.png</string>
        </dict>
    </dict>
</plist>
