<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic/plazacenter/Sundry/u_bg_black.png</key>
            <dict>
                <key>frame</key>
                <string>{{903,468},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_bg_black2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,469},{33,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{33,32}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_bg_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,461},{178,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,47}}</string>
                <key>sourceSize</key>
                <string>{178,47}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_bounced_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{60,460}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,460}}</string>
                <key>sourceSize</key>
                <string>{60,460}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_bounced_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1054,340},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_bounced_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,411},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_btn_main_activity.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,334},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_btn_main_auction.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,184},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_btn_main_backpack.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,259},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_btn_main_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,117},{65,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,72}}</string>
                <key>sourceSize</key>
                <string>{65,72}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_btn_main_friends.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,259},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_btn_main_safe.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,184},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_btn_main_shop.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,184},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_btn_main_task.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,414},{66,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,72}}</string>
                <key>sourceSize</key>
                <string>{66,72}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_btn_wjmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,461},{90,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,22}}</string>
                <key>sourceSize</key>
                <string>{90,22}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_hall_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{149,521}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,521}}</string>
                <key>sourceSize</key>
                <string>{149,521}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_hall_bg_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,414},{61,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,53}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_hall_bg_line1.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,2},{546,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{546,78}}</string>
                <key>sourceSize</key>
                <string>{546,78}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_hall_bg_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,112},{454,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{454,3}}</string>
                <key>sourceSize</key>
                <string>{454,3}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_hall_bg_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,180},{173,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,97}}</string>
                <key>sourceSize</key>
                <string>{173,97}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_hall_cb_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,363},{169,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,99}}</string>
                <key>sourceSize</key>
                <string>{169,99}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_hall_cb_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,112},{3,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,100}}</string>
                <key>sourceSize</key>
                <string>{3,100}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_hall_fy.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,495},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_hall_fy_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,495},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_hall_light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,277},{247,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,182}}</string>
                <key>sourceSize</key>
                <string>{247,182}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_hall_light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{247,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,182}}</string>
                <key>sourceSize</key>
                <string>{247,182}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_horn_count_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,491},{24,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,17}}</string>
                <key>sourceSize</key>
                <string>{24,17}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_horn_game_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,369},{124,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,40}}</string>
                <key>sourceSize</key>
                <string>{124,40}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_horn_hall_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1053,469},{35,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1089,72},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_icon_hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,259},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_icon_horn.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,470},{35,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,35}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_icon_ht.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,369},{32,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>sourceSize</key>
                <string>{32,33}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_icon_jq.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,470},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_icon_pretitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,494},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,14}}</string>
                <key>sourceSize</key>
                <string>{16,14}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_icon_vip0.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,401},{79,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,65}}</string>
                <key>sourceSize</key>
                <string>{79,65}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_icon_vip1.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,360},{79,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,65}}</string>
                <key>sourceSize</key>
                <string>{79,65}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_icon_vip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,334},{79,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,65}}</string>
                <key>sourceSize</key>
                <string>{79,65}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_icon_vip3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,259},{79,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,65}}</string>
                <key>sourceSize</key>
                <string>{79,65}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_icon_vip4.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,117},{79,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,65}}</string>
                <key>sourceSize</key>
                <string>{79,65}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_icon_vip5.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,279},{79,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,65}}</string>
                <key>sourceSize</key>
                <string>{79,65}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_icon_vip6.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,411},{79,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,65}}</string>
                <key>sourceSize</key>
                <string>{79,65}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_icon_vip7.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,117},{79,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,65}}</string>
                <key>sourceSize</key>
                <string>{79,65}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_icon_wing.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,153},{47,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,33}}</string>
                <key>sourceSize</key>
                <string>{47,33}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,464},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,485},{38,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,2}}</string>
                <key>sourceSize</key>
                <string>{38,2}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,72},{2,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,38}}</string>
                <key>sourceSize</key>
                <string>{2,38}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_line_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,180},{2,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,5}}</string>
                <key>sourceSize</key>
                <string>{2,5}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_lv_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,468},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_lv_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,464},{32,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_n_lv.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,202},{31,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,21}}</string>
                <key>sourceSize</key>
                <string>{31,21}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_null.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,153},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_per_avia_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,180},{181,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,181}}</string>
                <key>sourceSize</key>
                <string>{181,181}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_per_icon_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,478},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_per_icon_nv.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,478},{31,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,30}}</string>
                <key>sourceSize</key>
                <string>{31,30}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_personal_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,279},{146,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,88}}</string>
                <key>sourceSize</key>
                <string>{146,88}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_server_item_blackbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,97},{562,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,13}}</string>
                <key>sourceSize</key>
                <string>{562,13}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_server_item_whitebg.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,82},{562,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{562,13}}</string>
                <key>sourceSize</key>
                <string>{562,13}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_server_name_lowcoin.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,461},{216,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{216,28}}</string>
                <key>sourceSize</key>
                <string>{216,28}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_server_rate.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,464},{50,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,28}}</string>
                <key>sourceSize</key>
                <string>{50,28}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_server_room_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,184},{73,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,28}}</string>
                <key>sourceSize</key>
                <string>{73,28}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_server_status.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,441},{51,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,27}}</string>
                <key>sourceSize</key>
                <string>{51,27}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,215},{411,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{411,60}}</string>
                <key>sourceSize</key>
                <string>{411,60}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_title_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,117},{351,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,61}}</string>
                <key>sourceSize</key>
                <string>{351,61}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_translucent_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,464},{51,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,38}}</string>
                <key>sourceSize</key>
                <string>{51,38}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_translucent_bg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,2},{68,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,55}}</string>
                <key>sourceSize</key>
                <string>{68,55}</string>
            </dict>
            <key>pic/plazacenter/Sundry/u_translucent_bg3.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,215},{58,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,45}}</string>
                <key>sourceSize</key>
                <string>{58,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIHallSundry.png</string>
            <key>size</key>
            <string>{1130,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:489d73e5999aaf01b5ca19099e788e00:c4190cc4f4f92ae31b6a74772a91d075:ef0b2cbda77a34382cbdb99a86df46a5$</string>
            <key>textureFileName</key>
            <string>UIHallSundry.png</string>
        </dict>
    </dict>
</plist>
