<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic/plazacenter/ServerStatus/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,757},{65,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,757},{65,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{65,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,690},{65,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,651},{65,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,623},{65,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{65,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,556},{65,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{65,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{65,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,489},{65,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{65,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/13.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,422},{65,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{65,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/15.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,355},{65,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,333},{65,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/17.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,288},{65,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{65,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{65,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/20.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,221},{65,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/bm.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{65,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,51}}</string>
                <key>sourceSize</key>
                <string>{65,51}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/fm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,886},{54,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,29}}</string>
                <key>sourceSize</key>
                <string>{54,29}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/fm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{54,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,29}}</string>
                <key>sourceSize</key>
                <string>{54,29}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/fm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,855},{54,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,29}}</string>
                <key>sourceSize</key>
                <string>{54,29}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/fm4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,841},{54,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,29}}</string>
                <key>sourceSize</key>
                <string>{54,29}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/fm5.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,824},{54,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,29}}</string>
                <key>sourceSize</key>
                <string>{54,29}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/fm6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{54,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,29}}</string>
                <key>sourceSize</key>
                <string>{54,29}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/g1.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,148},{71,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,41}}</string>
                <key>sourceSize</key>
                <string>{71,41}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/g2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{71,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,41}}</string>
                <key>sourceSize</key>
                <string>{71,41}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/kx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{71,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,41}}</string>
                <key>sourceSize</key>
                <string>{71,41}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/kx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,75},{71,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,41}}</string>
                <key>sourceSize</key>
                <string>{71,41}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/kx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,45},{71,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,41}}</string>
                <key>sourceSize</key>
                <string>{71,41}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/kx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{71,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,41}}</string>
                <key>sourceSize</key>
                <string>{71,41}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/kx5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,41}}</string>
                <key>sourceSize</key>
                <string>{71,41}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/yj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,965},{53,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,29}}</string>
                <key>sourceSize</key>
                <string>{53,29}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/yj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,948},{53,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,29}}</string>
                <key>sourceSize</key>
                <string>{53,29}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/yj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,948},{53,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,29}}</string>
                <key>sourceSize</key>
                <string>{53,29}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/yj4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{53,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,29}}</string>
                <key>sourceSize</key>
                <string>{53,29}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/yj5.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,917},{53,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,29}}</string>
                <key>sourceSize</key>
                <string>{53,29}</string>
            </dict>
            <key>pic/plazacenter/ServerStatus/yj6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,903},{53,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,29}}</string>
                <key>sourceSize</key>
                <string>{53,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIHallServerStatus.png</string>
            <key>size</key>
            <string>{122,1003}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da8493f2e586dbea365fd57fd51ed7fd:f2c84c67c2e28e77ca1b9e3b4ba57153:ee90af373c92d54d2da085a087cb5f28$</string>
            <key>textureFileName</key>
            <string>UIHallServerStatus.png</string>
        </dict>
    </dict>
</plist>
