<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic/plazacenter/TableFrame/PhoneIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,817},{12,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,17}}</string>
                <key>sourceSize</key>
                <string>{12,17}</string>
            </dict>
            <key>pic/plazacenter/TableFrame/TableNumberBack.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,958},{45,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,22}}</string>
                <key>sourceSize</key>
                <string>{45,22}</string>
            </dict>
            <key>pic/plazacenter/TableFrame/UserReady.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,964},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,16}}</string>
                <key>sourceSize</key>
                <string>{16,16}</string>
            </dict>
            <key>pic/plazacenter/TableFrame/u_bg_AvertCheat.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{874,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{874,285}}</string>
                <key>sourceSize</key>
                <string>{874,285}</string>
            </dict>
            <key>pic/plazacenter/TableFrame/u_bg_list.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,104},{97,547}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,547}}</string>
                <key>sourceSize</key>
                <string>{97,547}</string>
            </dict>
            <key>pic/plazacenter/TableFrame/u_bg_list2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,982},{41,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,39}}</string>
                <key>sourceSize</key>
                <string>{41,39}</string>
            </dict>
            <key>pic/plazacenter/TableFrame/u_btn_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,907},{73,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,32}}</string>
                <key>sourceSize</key>
                <string>{73,32}</string>
            </dict>
            <key>pic/plazacenter/TableFrame/u_btn_start.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,878},{215,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,78}}</string>
                <key>sourceSize</key>
                <string>{215,78}</string>
            </dict>
            <key>pic/plazacenter/TableFrame/u_btn_zhk.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,982},{39,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,185}}</string>
                <key>sourceSize</key>
                <string>{39,185}</string>
            </dict>
            <key>pic/plazacenter/TableFrame/u_icon_gameing.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,878},{33,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,27}}</string>
                <key>sourceSize</key>
                <string>{33,27}</string>
            </dict>
            <key>pic/plazacenter/TableFrame/u_icon_jewel_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,860},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
            <key>pic/plazacenter/TableFrame/u_icon_jewel_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,848},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
            <key>pic/plazacenter/TableFrame/u_icon_jewel_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,836},{11,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,10}}</string>
                <key>sourceSize</key>
                <string>{11,10}</string>
            </dict>
            <key>pic/plazacenter/TableFrame/u_icon_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,964},{16,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,19}}</string>
                <key>sourceSize</key>
                <string>{16,19}</string>
            </dict>
            <key>pic/plazacenter/TableFrame/u_seat.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,982},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>pic/plazacenter/TableFrame/u_table_2or4.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,653},{94,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,86}}</string>
                <key>sourceSize</key>
                <string>{94,86}</string>
            </dict>
            <key>pic/plazacenter/TableFrame/u_table_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{100,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,98}}</string>
                <key>sourceSize</key>
                <string>{100,98}</string>
            </dict>
            <key>pic/plazacenter/TableFrame/u_table_6or8.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,817},{145,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,81}}</string>
                <key>sourceSize</key>
                <string>{145,81}</string>
            </dict>
            <key>pic/plazacenter/TableFrame/u_text_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,781},{89,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,34}}</string>
                <key>sourceSize</key>
                <string>{89,34}</string>
            </dict>
            <key>pic/plazacenter/TableFrame/u_text_gameing.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,964},{56,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,24}}</string>
                <key>sourceSize</key>
                <string>{56,24}</string>
            </dict>
            <key>pic/plazacenter/TableFrame/u_text_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,741},{90,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,38}}</string>
                <key>sourceSize</key>
                <string>{90,38}</string>
            </dict>
            <key>pic/plazacenter/TableFrame/u_text_startgame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{136,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,33}}</string>
                <key>sourceSize</key>
                <string>{136,33}</string>
            </dict>
            <key>pic/plazacenter/TableFrame/u_text_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,958},{38,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
            <key>pic/plazacenter/TableFrame/u_text_vip2.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,958},{38,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,21}}</string>
                <key>sourceSize</key>
                <string>{38,21}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UITableFrame.png</string>
            <key>size</key>
            <string>{389,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63587c63778e04f279a4684eaef483ac:f8ce1a18a8aa8402542505b0b6c2f086:73f55fe053028fb4d2ef1d3e5540aae6$</string>
            <key>textureFileName</key>
            <string>UITableFrame.png</string>
        </dict>
    </dict>
</plist>
