<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100w.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,31},{61,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,22}}</string>
                <key>sourceSize</key>
                <string>{61,22}</string>
            </dict>
            <key>1qw.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,27},{52,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,23}}</string>
                <key>sourceSize</key>
                <string>{52,23}</string>
            </dict>
            <key>1y.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>500w.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,31},{66,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,22}}</string>
                <key>sourceSize</key>
                <string>{66,22}</string>
            </dict>
            <key>5qw.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,2},{57,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,23}}</string>
                <key>sourceSize</key>
                <string>{57,23}</string>
            </dict>
            <key>u_bank_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{88,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,51}}</string>
                <key>sourceSize</key>
                <string>{88,51}</string>
            </dict>
            <key>u_bank_btn_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{88,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,51}}</string>
                <key>sourceSize</key>
                <string>{88,51}</string>
            </dict>
            <key>u_bank_btn_cun.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{160,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,51}}</string>
                <key>sourceSize</key>
                <string>{160,51}</string>
            </dict>
            <key>u_bank_btn_qu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,51}}</string>
                <key>sourceSize</key>
                <string>{160,51}</string>
            </dict>
            <key>u_bank_tip.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,2},{46,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,53}}</string>
                <key>sourceSize</key>
                <string>{46,53}</string>
            </dict>
            <key>u_bank_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{105,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,27}}</string>
                <key>sourceSize</key>
                <string>{105,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameBank.png</string>
            <key>size</key>
            <string>{771,55}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e17584d381f47fc743bd86acf131947c$</string>
            <key>textureFileName</key>
            <string>gameBank.png</string>
        </dict>
    </dict>
</plist>
