<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic/plazacenter/Text/u_backpack_text_title_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,2},{82,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,37}}</string>
                <key>sourceSize</key>
                <string>{82,37}</string>
            </dict>
            <key>pic/plazacenter/Text/u_competition_text_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,32},{52,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,27}}</string>
                <key>sourceSize</key>
                <string>{52,27}</string>
            </dict>
            <key>pic/plazacenter/Text/u_login_text_validation.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{143,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,37}}</string>
                <key>sourceSize</key>
                <string>{143,37}</string>
            </dict>
            <key>pic/plazacenter/Text/u_t_bm.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,2},{58,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,30}}</string>
                <key>sourceSize</key>
                <string>{58,30}</string>
            </dict>
            <key>pic/plazacenter/Text/u_t_chose1.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{173,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,29}}</string>
                <key>sourceSize</key>
                <string>{173,29}</string>
            </dict>
            <key>pic/plazacenter/Text/u_t_chose2.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,33},{115,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,28}}</string>
                <key>sourceSize</key>
                <string>{115,28}</string>
            </dict>
            <key>pic/plazacenter/Text/u_t_crjj.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>pic/plazacenter/Text/u_t_enter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,2},{63,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,32}}</string>
                <key>sourceSize</key>
                <string>{63,32}</string>
            </dict>
            <key>pic/plazacenter/Text/u_t_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,2},{58,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,30}}</string>
                <key>sourceSize</key>
                <string>{58,30}</string>
            </dict>
            <key>pic/plazacenter/Text/u_t_fs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,2},{58,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,30}}</string>
                <key>sourceSize</key>
                <string>{58,30}</string>
            </dict>
            <key>pic/plazacenter/Text/u_t_next.png</key>
            <dict>
                <key>frame</key>
                <string>{{733,33},{83,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,28}}</string>
                <key>sourceSize</key>
                <string>{83,28}</string>
            </dict>
            <key>pic/plazacenter/Text/u_t_qqcz.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>pic/plazacenter/Text/u_t_sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{1615,2},{58,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,30}}</string>
                <key>sourceSize</key>
                <string>{58,30}</string>
            </dict>
            <key>pic/plazacenter/Text/u_t_yqh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{179,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,38}}</string>
                <key>sourceSize</key>
                <string>{179,38}</string>
            </dict>
            <key>pic/plazacenter/Text/u_text_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{1473,2},{75,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,32}}</string>
                <key>sourceSize</key>
                <string>{75,32}</string>
            </dict>
            <key>pic/plazacenter/Text/u_text_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,2},{89,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,38}}</string>
                <key>sourceSize</key>
                <string>{89,38}</string>
            </dict>
            <key>pic/plazacenter/Text/u_text_rule.png</key>
            <dict>
                <key>frame</key>
                <string>{{1311,2},{83,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,34}}</string>
                <key>sourceSize</key>
                <string>{83,34}</string>
            </dict>
            <key>pic/plazacenter/Text/u_text_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,2},{64,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,28}}</string>
                <key>sourceSize</key>
                <string>{64,28}</string>
            </dict>
            <key>pic/plazacenter/Text/u_text_sure.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,2},{75,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,32}}</string>
                <key>sourceSize</key>
                <string>{75,32}</string>
            </dict>
            <key>pic/plazacenter/Text/u_text_tablemm.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{142,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,37}}</string>
                <key>sourceSize</key>
                <string>{142,37}</string>
            </dict>
            <key>pic/plazacenter/Text/u_text_wjmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{142,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,37}}</string>
                <key>sourceSize</key>
                <string>{142,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIHallText.png</string>
            <key>size</key>
            <string>{1745,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa021e3f75adf8294602059102d74a36:011e3e98b8fd67d2f7cfc57fb5ee194b:3a0d0e7582f2c535b0141c0697034b36$</string>
            <key>textureFileName</key>
            <string>UIHallText.png</string>
        </dict>
    </dict>
</plist>
