<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic/plazacenter/Bank/a_text_hd_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,65},{186,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,30}}</string>
                <key>sourceSize</key>
                <string>{186,30}</string>
            </dict>
            <key>pic/plazacenter/Bank/a_text_hd_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,65},{186,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,30}}</string>
                <key>sourceSize</key>
                <string>{186,30}</string>
            </dict>
            <key>pic/plazacenter/Bank/a_text_hd_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,74},{186,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,30}}</string>
                <key>sourceSize</key>
                <string>{186,30}</string>
            </dict>
            <key>pic/plazacenter/Bank/a_text_hd_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,82},{186,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,30}}</string>
                <key>sourceSize</key>
                <string>{186,30}</string>
            </dict>
            <key>pic/plazacenter/Bank/a_text_hd_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,82},{186,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,30}}</string>
                <key>sourceSize</key>
                <string>{186,30}</string>
            </dict>
            <key>pic/plazacenter/Bank/a_text_hd_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,82},{186,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,30}}</string>
                <key>sourceSize</key>
                <string>{186,30}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_Bg_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,64},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,40}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_CheckBox_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,92},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_CheckBox_fore.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,78},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_checkbox_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,97},{221,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,19}}</string>
                <key>sourceSize</key>
                <string>{221,19}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_checkbox_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,106},{221,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,19}}</string>
                <key>sourceSize</key>
                <string>{221,19}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_btn_access.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{114,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,70}}</string>
                <key>sourceSize</key>
                <string>{114,70}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_btn_accesssmall.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,2},{101,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,61}}</string>
                <key>sourceSize</key>
                <string>{101,61}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_btn_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,92},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_hide.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,2},{101,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,61}}</string>
                <key>sourceSize</key>
                <string>{101,61}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,2},{101,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,61}}</string>
                <key>sourceSize</key>
                <string>{101,61}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{195,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{195,2}}</string>
                <key>sourceSize</key>
                <string>{195,2}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_line2.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,114},{8,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,2}}</string>
                <key>sourceSize</key>
                <string>{8,2}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_number.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,62},{135,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,13}}</string>
                <key>sourceSize</key>
                <string>{135,13}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_paging_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,77},{139,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,48}}</string>
                <key>sourceSize</key>
                <string>{139,48}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_paging_btn_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{168,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,58}}</string>
                <key>sourceSize</key>
                <string>{168,58}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_present.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{101,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,61}}</string>
                <key>sourceSize</key>
                <string>{101,61}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_ruler_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{674,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{674,78}}</string>
                <key>sourceSize</key>
                <string>{674,78}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_ruler_slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,2},{49,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,108}}</string>
                <key>sourceSize</key>
                <string>{49,108}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_slider_present_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1936,64},{49,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,29}}</string>
                <key>sourceSize</key>
                <string>{49,29}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_1000wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,2},{82,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,26}}</string>
                <key>sourceSize</key>
                <string>{82,26}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_100wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1810,64},{82,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,26}}</string>
                <key>sourceSize</key>
                <string>{82,26}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_1yi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1801,2},{82,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,26}}</string>
                <key>sourceSize</key>
                <string>{82,26}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_5000wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,64},{82,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,26}}</string>
                <key>sourceSize</key>
                <string>{82,26}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_500wan.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,64},{82,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,26}}</string>
                <key>sourceSize</key>
                <string>{82,26}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,64},{82,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,26}}</string>
                <key>sourceSize</key>
                <string>{82,26}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_amend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,33},{103,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,29}}</string>
                <key>sourceSize</key>
                <string>{103,29}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_amend2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,92},{103,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,29}}</string>
                <key>sourceSize</key>
                <string>{103,29}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_cr.png</key>
            <dict>
                <key>frame</key>
                <string>{{1873,30},{75,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,32}}</string>
                <key>sourceSize</key>
                <string>{75,32}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_deposit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,2},{103,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,29}}</string>
                <key>sourceSize</key>
                <string>{103,29}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_deposit2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,33},{103,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,29}}</string>
                <key>sourceSize</key>
                <string>{103,29}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_detail.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,2},{103,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,29}}</string>
                <key>sourceSize</key>
                <string>{103,29}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_detail2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,33},{103,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,29}}</string>
                <key>sourceSize</key>
                <string>{103,29}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_giving.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,2},{103,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,29}}</string>
                <key>sourceSize</key>
                <string>{103,29}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_giving2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1541,92},{103,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,29}}</string>
                <key>sourceSize</key>
                <string>{103,29}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{176,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,37}}</string>
                <key>sourceSize</key>
                <string>{176,37}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_qc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1969,2},{74,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,31}}</string>
                <key>sourceSize</key>
                <string>{74,31}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_safe.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,53},{107,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,37}}</string>
                <key>sourceSize</key>
                <string>{107,37}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_takeout.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,97},{103,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,29}}</string>
                <key>sourceSize</key>
                <string>{103,29}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_takeout2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,97},{103,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,29}}</string>
                <key>sourceSize</key>
                <string>{103,29}</string>
            </dict>
            <key>pic/plazacenter/Bank/u_safe_text_zs.png</key>
            <dict>
                <key>frame</key>
                <string>{{1751,92},{75,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,32}}</string>
                <key>sourceSize</key>
                <string>{75,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIHallBank.png</string>
            <key>size</key>
            <string>{2002,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:666c55ba4eda46a12ce1557358feccba:07a48eabf67657c8d61c367c44bdc031:b91b82a49bbbcc9d69bbb50503b43eda$</string>
            <key>textureFileName</key>
            <string>UIHallBank.png</string>
        </dict>
    </dict>
</plist>
