<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic/plazacenter/Set/u_set_about.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{932,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{932,415}}</string>
                <key>sourceSize</key>
                <string>{932,415}</string>
            </dict>
            <key>pic/plazacenter/Set/u_set_btn_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,162},{158,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,76}}</string>
                <key>sourceSize</key>
                <string>{158,76}</string>
            </dict>
            <key>pic/plazacenter/Set/u_set_btn_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,2},{158,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,76}}</string>
                <key>sourceSize</key>
                <string>{158,76}</string>
            </dict>
            <key>pic/plazacenter/Set/u_set_text_about.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,419},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>pic/plazacenter/Set/u_set_text_about2.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,322},{152,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,39}}</string>
                <key>sourceSize</key>
                <string>{152,39}</string>
            </dict>
            <key>pic/plazacenter/Set/u_set_text_amend.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,419},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>pic/plazacenter/Set/u_set_text_amend2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{149,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,39}}</string>
                <key>sourceSize</key>
                <string>{149,39}</string>
            </dict>
            <key>pic/plazacenter/Set/u_set_text_change.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,419},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>pic/plazacenter/Set/u_set_text_feedback.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,419},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>pic/plazacenter/Set/u_set_text_feedback2.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,322},{153,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,39}}</string>
                <key>sourceSize</key>
                <string>{153,39}</string>
            </dict>
            <key>pic/plazacenter/Set/u_set_text_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,419},{56,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,27}}</string>
                <key>sourceSize</key>
                <string>{56,27}</string>
            </dict>
            <key>pic/plazacenter/Set/u_set_text_prompt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,477},{796,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{796,29}}</string>
                <key>sourceSize</key>
                <string>{796,29}</string>
            </dict>
            <key>pic/plazacenter/Set/u_set_text_replace.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,419},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>pic/plazacenter/Set/u_set_text_scene.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,477},{77,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,33}}</string>
                <key>sourceSize</key>
                <string>{77,33}</string>
            </dict>
            <key>pic/plazacenter/Set/u_set_text_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,477},{82,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,32}}</string>
                <key>sourceSize</key>
                <string>{82,32}</string>
            </dict>
            <key>pic/plazacenter/Set/u_set_text_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,419},{80,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,38}}</string>
                <key>sourceSize</key>
                <string>{80,38}</string>
            </dict>
            <key>pic/plazacenter/Set/u_set_text_sound.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,419},{56,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,27}}</string>
                <key>sourceSize</key>
                <string>{56,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIHallSet.png</string>
            <key>size</key>
            <string>{1018,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:784537b3cee8ed5b05382c96ecabcfb4:5e56cda1c739b9625d79044cb6684ece:b3edee1fc1d665c01e91af887f2c970c$</string>
            <key>textureFileName</key>
            <string>UIHallSet.png</string>
        </dict>
    </dict>
</plist>
