<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic/plazacenter/Loading/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,2},{88,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,99}}</string>
                <key>sourceSize</key>
                <string>{88,99}</string>
            </dict>
            <key>pic/plazacenter/Loading/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{88,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,99}}</string>
                <key>sourceSize</key>
                <string>{88,99}</string>
            </dict>
            <key>pic/plazacenter/Loading/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{88,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,99}}</string>
                <key>sourceSize</key>
                <string>{88,99}</string>
            </dict>
            <key>pic/plazacenter/Loading/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{88,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,99}}</string>
                <key>sourceSize</key>
                <string>{88,99}</string>
            </dict>
            <key>pic/plazacenter/Loading/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{88,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,99}}</string>
                <key>sourceSize</key>
                <string>{88,99}</string>
            </dict>
            <key>pic/plazacenter/Loading/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{88,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,99}}</string>
                <key>sourceSize</key>
                <string>{88,99}</string>
            </dict>
            <key>pic/plazacenter/Loading/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{88,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,99}}</string>
                <key>sourceSize</key>
                <string>{88,99}</string>
            </dict>
            <key>pic/plazacenter/Loading/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,99}}</string>
                <key>sourceSize</key>
                <string>{88,99}</string>
            </dict>
            <key>pic/plazacenter/Loading/09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,99}}</string>
                <key>sourceSize</key>
                <string>{88,99}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UILoading.png</string>
            <key>size</key>
            <string>{812,103}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5dce58d42d7b0dd1b3b9a30f4ae8168:320247c3e65dfeedb59b01d7424e7576:61b1d682d99d182bd43977ff9f588e69$</string>
            <key>textureFileName</key>
            <string>UILoading.png</string>
        </dict>
    </dict>
</plist>
