<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic/plazacenter/PersonalCenter/u_per_btn_bind.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{137,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,123}}</string>
                <key>sourceSize</key>
                <string>{137,123}</string>
            </dict>
            <key>pic/plazacenter/PersonalCenter/u_per_btn_bind_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{137,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,123}}</string>
                <key>sourceSize</key>
                <string>{137,123}</string>
            </dict>
            <key>pic/plazacenter/PersonalCenter/u_per_btn_copy.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,2},{138,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,44}}</string>
                <key>sourceSize</key>
                <string>{138,44}</string>
            </dict>
            <key>pic/plazacenter/PersonalCenter/u_per_btn_realname.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{137,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,123}}</string>
                <key>sourceSize</key>
                <string>{137,123}</string>
            </dict>
            <key>pic/plazacenter/PersonalCenter/u_per_btn_realname_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{137,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,123}}</string>
                <key>sourceSize</key>
                <string>{137,123}</string>
            </dict>
            <key>pic/plazacenter/PersonalCenter/u_per_btn_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,151},{161,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,54}}</string>
                <key>sourceSize</key>
                <string>{161,54}</string>
            </dict>
            <key>pic/plazacenter/PersonalCenter/u_per_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,606},{52,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,40}}</string>
                <key>sourceSize</key>
                <string>{52,40}</string>
            </dict>
            <key>pic/plazacenter/PersonalCenter/u_per_icon_give.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,651},{132,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,46}}</string>
                <key>sourceSize</key>
                <string>{132,46}</string>
            </dict>
            <key>pic/plazacenter/PersonalCenter/u_per_text_bind.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,455},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>pic/plazacenter/PersonalCenter/u_per_text_bind2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,271},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>pic/plazacenter/PersonalCenter/u_per_text_dh.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,400},{49,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,26}}</string>
                <key>sourceSize</key>
                <string>{49,26}</string>
            </dict>
            <key>pic/plazacenter/PersonalCenter/u_per_text_gr.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,314},{139,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,37}}</string>
                <key>sourceSize</key>
                <string>{139,37}</string>
            </dict>
            <key>pic/plazacenter/PersonalCenter/u_per_text_realname.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,455},{130,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,34}}</string>
                <key>sourceSize</key>
                <string>{130,34}</string>
            </dict>
            <key>pic/plazacenter/PersonalCenter/u_per_text_realname2.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,142},{127,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,33}}</string>
                <key>sourceSize</key>
                <string>{127,33}</string>
            </dict>
            <key>pic/plazacenter/PersonalCenter/u_per_title_bind.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,460},{144,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,38}}</string>
                <key>sourceSize</key>
                <string>{144,38}</string>
            </dict>
            <key>pic/plazacenter/PersonalCenter/u_per_title_realname.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,314},{144,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,38}}</string>
                <key>sourceSize</key>
                <string>{144,38}</string>
            </dict>
            <key>pic/plazacenter/PersonalCenter/u_per_vip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{197,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,147}}</string>
                <key>sourceSize</key>
                <string>{197,147}</string>
            </dict>
            <key>pic/plazacenter/PersonalCenter/u_per_xb.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,587},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>pic/plazacenter/PersonalCenter/u_per_xb_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,660},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIPersonalCenter.png</string>
            <key>size</key>
            <string>{255,699}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c65e971feed48b0fda880ba25b8c70c:5d56e01e30c1021e8323dd4bb18071d8:8c04d19572fb60bde824a7a6c34379d1$</string>
            <key>textureFileName</key>
            <string>UIPersonalCenter.png</string>
        </dict>
    </dict>
</plist>
