<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic/plazacenter/VipCenter/u_icon_v1.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,25},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>pic/plazacenter/VipCenter/u_icon_v2.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>pic/plazacenter/VipCenter/u_icon_v3.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,35},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>pic/plazacenter/VipCenter/u_icon_v4.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,35},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>pic/plazacenter/VipCenter/u_icon_v5.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,41},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>pic/plazacenter/VipCenter/u_icon_v6.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,41},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>pic/plazacenter/VipCenter/u_icon_v7.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,41},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>pic/plazacenter/VipCenter/u_vip_btn_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{129,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,51}}</string>
                <key>sourceSize</key>
                <string>{129,51}</string>
            </dict>
            <key>pic/plazacenter/VipCenter/u_vip_btn_light_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{129,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,51}}</string>
                <key>sourceSize</key>
                <string>{129,51}</string>
            </dict>
            <key>pic/plazacenter/VipCenter/u_vip_tetx_vip.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{120,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,37}}</string>
                <key>sourceSize</key>
                <string>{120,37}</string>
            </dict>
            <key>pic/plazacenter/VipCenter/u_vip_text_recharge.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{61,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,31}}</string>
                <key>sourceSize</key>
                <string>{61,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIVipCenter.png</string>
            <key>size</key>
            <string>{510,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:178f3b0d53f80ce49ddd5853634eb651:11f435a176b7390024aa7cc5822cf3ac:ab897f381cca6754b19bc9ab0edf652e$</string>
            <key>textureFileName</key>
            <string>UIVipCenter.png</string>
        </dict>
    </dict>
</plist>
