<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>errenland/continuousdouble/ani_counter_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,2},{670,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{670,304}}</string>
                <key>sourceSize</key>
                <string>{670,304}</string>
            </dict>
            <key>errenland/continuousdouble/ani_counter_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,2},{670,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{670,304}}</string>
                <key>sourceSize</key>
                <string>{670,304}</string>
            </dict>
            <key>errenland/continuousdouble/ani_counter_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{670,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{670,304}}</string>
                <key>sourceSize</key>
                <string>{670,304}</string>
            </dict>
            <key>errenland/continuousdouble/ani_counter_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,674},{670,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{670,304}}</string>
                <key>sourceSize</key>
                <string>{670,304}</string>
            </dict>
            <key>errenland/continuousdouble/ani_counter_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{670,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{670,304}}</string>
                <key>sourceSize</key>
                <string>{670,304}</string>
            </dict>
            <key>errenland/continuousdouble/ani_counter_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{670,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{670,304}}</string>
                <key>sourceSize</key>
                <string>{670,304}</string>
            </dict>
            <key>errenland/continuousdouble/ani_counter_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{670,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{670,304}}</string>
                <key>sourceSize</key>
                <string>{670,304}</string>
            </dict>
            <key>errenland/continuousdouble/ani_counter_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{670,304}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{670,304}}</string>
                <key>sourceSize</key>
                <string>{670,304}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>continuousdouble.png</string>
            <key>size</key>
            <string>{1838,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cfb16a1aaeb9c48fddb7e2496e1a8e3:250b2c1068b11863e277b89afa020aff:4578d323e6b9d52f7dbb59dc377ec85d$</string>
            <key>textureFileName</key>
            <string>continuousdouble.png</string>
        </dict>
    </dict>
</plist>
