<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,652},{73,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,49}}</string>
                <key>sourceSize</key>
                <string>{73,49}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,601},{73,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,49}}</string>
                <key>sourceSize</key>
                <string>{73,49}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,561},{73,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,49}}</string>
                <key>sourceSize</key>
                <string>{73,49}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,560},{73,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,49}}</string>
                <key>sourceSize</key>
                <string>{73,49}</string>
            </dict>
            <key>daom.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,361},{99,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{99,48}}</string>
                <key>sourceSize</key>
                <string>{99,52}</string>
            </dict>
            <key>daom1.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,311},{99,48}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{99,48}}</string>
                <key>sourceSize</key>
                <string>{99,52}</string>
            </dict>
            <key>daomen.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,641},{34,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,68}}</string>
                <key>sourceSize</key>
                <string>{34,68}</string>
            </dict>
            <key>dhk.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,711},{51,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,37}}</string>
                <key>sourceSize</key>
                <string>{51,37}</string>
            </dict>
            <key>dm.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,257},{99,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,52}}</string>
                <key>sourceSize</key>
                <string>{99,52}</string>
            </dict>
            <key>dm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,203},{99,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,52}}</string>
                <key>sourceSize</key>
                <string>{99,52}</string>
            </dict>
            <key>duimen.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,641},{34,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,68}}</string>
                <key>sourceSize</key>
                <string>{34,68}</string>
            </dict>
            <key>hero_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,511},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>j.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,674},{35,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{35,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>j1.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,674},{35,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{35,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,711},{34,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,32}}</string>
                <key>sourceSize</key>
                <string>{34,32}</string>
            </dict>
            <key>poker1.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,125},{63,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{63,81}}</string>
                <key>sourceSize</key>
                <string>{63,107}</string>
            </dict>
            <key>poker2.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,508},{51,87}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{51,87}}</string>
                <key>sourceSize</key>
                <string>{63,107}</string>
            </dict>
            <key>poker3.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,114},{25,103}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,3},{25,103}}</string>
                <key>sourceSize</key>
                <string>{63,107}</string>
            </dict>
            <key>poker4.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,194},{7,107}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{7,107}}</string>
                <key>sourceSize</key>
                <string>{63,107}</string>
            </dict>
            <key>q.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,654},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>q1.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,709},{41,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,40}}</string>
                <key>sourceSize</key>
                <string>{41,40}</string>
            </dict>
            <key>shang-.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{747,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{747,137}}</string>
                <key>sourceSize</key>
                <string>{747,137}</string>
            </dict>
            <key>shuenmen.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,652},{34,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,68}}</string>
                <key>sourceSize</key>
                <string>{34,68}</string>
            </dict>
            <key>sm.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,461},{97,48}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{97,48}}</string>
                <key>sourceSize</key>
                <string>{99,52}</string>
            </dict>
            <key>sm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,411},{97,48}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{97,48}}</string>
                <key>sourceSize</key>
                <string>{99,52}</string>
            </dict>
            <key>u_+gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,84},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>u_b_xiazhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,70},{148,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,12}}</string>
                <key>sourceSize</key>
                <string>{148,12}</string>
            </dict>
            <key>u_button_-banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{161,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,66}}</string>
                <key>sourceSize</key>
                <string>{161,66}</string>
            </dict>
            <key>u_button_-banker_chip.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{161,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,66}}</string>
                <key>sourceSize</key>
                <string>{161,66}</string>
            </dict>
            <key>u_button_chip-des.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,406},{97,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,62}}</string>
                <key>sourceSize</key>
                <string>{97,62}</string>
            </dict>
            <key>u_button_chip-on.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,307},{97,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,62}}</string>
                <key>sourceSize</key>
                <string>{97,62}</string>
            </dict>
            <key>u_button_chip.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,208},{97,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,62}}</string>
                <key>sourceSize</key>
                <string>{97,62}</string>
            </dict>
            <key>u_button_people.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,505},{61,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,53}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>u_button_→.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,70},{61,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,53}}</string>
                <key>sourceSize</key>
                <string>{61,53}</string>
            </dict>
            <key>u_cm1.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,611},{41,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,42}}</string>
                <key>sourceSize</key>
                <string>{41,42}</string>
            </dict>
            <key>u_cm2.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,483},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>u_cm3.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,439},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>u_cm4.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,395},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>u_cm5.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,351},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>u_cm6.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,307},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>u_cm7.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,263},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>u_cm8.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,219},{43,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,42}</string>
            </dict>
            <key>u_cm9.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,665},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>u_effect1.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,118},{111,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,74}}</string>
                <key>sourceSize</key>
                <string>{111,74}</string>
            </dict>
            <key>u_game_btn_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,612},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>u_game_btn_hosting.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,584},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>u_game_btn_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,527},{51,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,55}}</string>
                <key>sourceSize</key>
                <string>{51,55}</string>
            </dict>
            <key>u_game_translucent_bg1.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,711},{51,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,38}}</string>
                <key>sourceSize</key>
                <string>{51,38}</string>
            </dict>
            <key>u_gi_gold_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,508},{33,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,25}}</string>
                <key>sourceSize</key>
                <string>{33,25}</string>
            </dict>
            <key>u_icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,711},{35,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,37}}</string>
                <key>sourceSize</key>
                <string>{35,37}</string>
            </dict>
            <key>u_text_sz.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,84},{116,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,32}}</string>
                <key>sourceSize</key>
                <string>{116,32}</string>
            </dict>
            <key>u_text_xz.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,70},{116,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,32}}</string>
                <key>sourceSize</key>
                <string>{116,32}</string>
            </dict>
            <key>u_z.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,612},{60,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,42}}</string>
                <key>sourceSize</key>
                <string>{60,42}</string>
            </dict>
            <key>xia.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,104},{402,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{402,112}}</string>
                <key>sourceSize</key>
                <string>{402,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UIGameBattleIng.png</string>
            <key>size</key>
            <string>{472,751}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:350dea62d68f3a8a91aae4cc7a6bc757$</string>
            <key>textureFileName</key>
            <string>UIGameBattleIng.png</string>
        </dict>
    </dict>
</plist>
